.current {
  color: green;
}

.photo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
  max-height: 60vh; /* 60% of the viewport height */
  padding-top: 8vh;
  padding-bottom: 3vh;
}

.caption{
  font-size: 18px;
  font-weight: 480;
  color: #404040;
  text-align: center
}